body{
  background-image:url("img/fond.gif");
}
p{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    width: 100%;   
}
.img{
   display: flex;
    justify-content: center; 
}
.picture{
    width: 10%;
}
.buttons{
    margin-top: 20%;
}
.button{
    border-style: groove;
    border-width: 5px 3px 5px 3px;
    border-color: #A1D16A;
}